
<mat-toolbar class="survey-toolbar">
  <mat-toolbar-row>
    <span class="logo"><async-logo></async-logo></span>
    <span class="nav-spacer"></span>
    
    <ng-content>
      <a mat-button [matMenuTriggerFor]="menu" aria-label="Partner platforms menu">
        <mat-icon aria-hidden="true">home</mat-icon> Partner Platforms
      </a>
    </ng-content>
  </mat-toolbar-row>

</mat-toolbar>

<mat-menu #menu="matMenu">
  <a mat-menu-item href="https://diamondproject.c21fg.online/" target="_blank" rel="noopener">
    <mat-icon aria-hidden="true">public</mat-icon>Our Website
  </a>
  <a mat-menu-item href="https://c21fg.online/" target="_blank" rel="noopener">
    <mat-icon aria-hidden="true">dashboard</mat-icon>Our Platform
  </a>
</mat-menu>

<div *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>